Repository The-Aether-Team/The-Aether: changes, and which CircleCI parameters are due for each by the changed paths.
All: allow-build, allow-deploy-and-discord-publish

chore: Change publish-modrinth gradle version
  .github/workflows/publish-modrinth.yml
Due: none

chore: Check user for publish
  .github/workflows/publish-modrinth.yml
Due: none

chore: Fix token maybe
  .github/workflows/publish-modrinth.yml
Due: none

chore: Fix check
  .github/workflows/publish-modrinth.yml
Due: none

chore: Attempt to fix env var
  .github/workflows/publish-modrinth.yml
Due: none

chore: Attempt to add token
  .github/workflows/publish-modrinth.yml
Due: none

chore: Remove token
  .github/workflows/publish-modrinth.yml
Due: none

chore: Create publish-curseforge.yml
  .github/workflows/publish-curseforge.yml
Due: none

update: Curios 5.1.4.2->5.1.5.0 (#1164)
  gradle.properties
Due: allow-build

refactor: Neptune Armor no longer attribute-based (#1171)
  src/main/java/com/aetherteam/aether/event/listeners/abilities/ArmorAbilityListener.java
  src/main/java/com/aetherteam/aether/item/AetherItems.java
  src/main/java/com/aetherteam/aether/item/accessories/gloves/NeptuneGlovesItem.java
  src/main/java/com/aetherteam/aether/item/combat/abilities/armor/NeptuneArmor.java
  src/main/java/com/aetherteam/aether/item/combat/loot/NeptuneArmorItem.java
Due: allow-build, allow-deploy-and-discord-publish

refactor: Nature Staff uses 1 durability (#1169)
  src/main/java/com/aetherteam/aether/entity/passive/Moa.java
Due: allow-build, allow-deploy-and-discord-publish

fix: Prevent Aerbunny from despawning after used by player
  src/main/java/com/aetherteam/aether/entity/passive/Aerbunny.java
Due: allow-build, allow-deploy-and-discord-publish

fix: Aether crafters give xp
  src/main/java/com/aetherteam/aether/blockentity/AbstractAetherFurnaceBlockEntity.java
Due: allow-build, allow-deploy-and-discord-publish

fix: Aechor Plants target attackers and Fire Minions wander
  src/main/java/com/aetherteam/aether/entity/monster/AechorPlant.java
  src/main/java/com/aetherteam/aether/entity/monster/dungeon/FireMinion.java
Due: allow-build, allow-deploy-and-discord-publish

refactor: Tweak movement speed and upwards movement for armor abilities
  src/main/java/com/aetherteam/aether/item/combat/abilities/armor/NeptuneArmor.java
  src/main/java/com/aetherteam/aether/item/combat/abilities/armor/PhoenixArmor.java
Due: allow-build, allow-deploy-and-discord-publish

refactor: Adjust Neptune Armor values
  src/main/java/com/aetherteam/aether/item/combat/abilities/armor/NeptuneArmor.java
Due: allow-build, allow-deploy-and-discord-publish

refactor: Dungeon Loot balance changes
  src/generated/resources/.cache/59eb3dbb5f86130e09b3c62d89b9525ee01cf52d
  src/generated/resources/data/aether/loot_tables/chests/dungeon/bronze/bronze_dungeon.json
  src/generated/resources/data/aether/loot_tables/chests/dungeon/bronze/bronze_dungeon_disc.json
  src/generated/resources/data/aether/loot_tables/chests/dungeon/bronze/bronze_dungeon_gummies.json
  src/generated/resources/data/aether/loot_tables/chests/dungeon/bronze/bronze_dungeon_reward.json
  src/generated/resources/data/aether/loot_tables/chests/dungeon/bronze/bronze_dungeon_trash.json
  src/generated/resources/data/aether/loot_tables/chests/dungeon/bronze/bronze_dungeon_treasure.json
  src/generated/resources/data/aether/loot_tables/chests/dungeon/bronze/silver_dungeon_gravitite.json
  src/generated/resources/data/aether/loot_tables/chests/dungeon/bronze/silver_dungeon_gummies.json
  src/generated/resources/data/aether/loot_tables/chests/dungeon/bronze/silver_dungeon_neptune.json
  src/generated/resources/data/aether/loot_tables/chests/dungeon/bronze/silver_dungeon_treasure.json
  src/generated/resources/data/aether/loot_tables/chests/dungeon/bronze/silver_dungeon_valkyrie.json
  src/generated/resources/data/aether/loot_tables/chests/dungeon/silver/silver_dungeon_disc.json
  src/generated/resources/data/aether/loot_tables/chests/dungeon/silver/silver_dungeon_loot.json
  src/generated/resources/data/aether/loot_tables/chests/dungeon/silver/silver_dungeon_reward.json
  src/main/java/com/aetherteam/aether/data/generators/loot/AetherDungeonLoot.java
Due: allow-build, allow-deploy-and-discord-publish

fix: Aechor Plants target attackers and Fire Minions wander (#1175)
  src/main/java/com/aetherteam/aether/entity/monster/AechorPlant.java
  src/main/java/com/aetherteam/aether/entity/monster/dungeon/FireMinion.java
Due: allow-build, allow-deploy-and-discord-publish

fix: Aether crafters give xp (#1174)
  src/main/java/com/aetherteam/aether/blockentity/AbstractAetherFurnaceBlockEntity.java
Due: allow-build, allow-deploy-and-discord-publish

fix: Phoenix Armor boosts vertical lava movement
  src/main/java/com/aetherteam/aether/item/combat/abilities/armor/NeptuneArmor.java
  src/main/java/com/aetherteam/aether/item/combat/abilities/armor/PhoenixArmor.java
  src/main/java/com/aetherteam/aether/mixin/mixins/common/LivingEntityMixin.java
  src/main/resources/aether.mixins.json
Due: allow-build, allow-deploy-and-discord-publish

fix: Correct Valkyrie Lance lore entry
  src/generated/resources/.cache/c622617f6fabf890a00b9275cd5f643584a8a2c8
  src/generated/resources/assets/aether/lang/en_us.json
  src/main/java/com/aetherteam/aether/data/generators/AetherLanguageData.java
Due: allow-build, allow-deploy-and-discord-publish

fix: Neptune Armor movement is no longer inconsistent
  src/main/java/com/aetherteam/aether/item/combat/abilities/armor/NeptuneArmor.java
Due: allow-build, allow-deploy-and-discord-publish

refactor: Tweak Neptune Armor base speed
  src/main/java/com/aetherteam/aether/item/combat/abilities/armor/NeptuneArmor.java
Due: allow-build, allow-deploy-and-discord-publish

fix: Replace %s in Valkyrie death message
  src/main/java/com/aetherteam/aether/entity/monster/dungeon/Valkyrie.java
Due: allow-build, allow-deploy-and-discord-publish

fix: Improved check for Aerbunny jump resets
  src/main/java/com/aetherteam/aether/entity/passive/Aerbunny.java
Due: allow-build, allow-deploy-and-discord-publish

feat: Moa follow behavior
  src/main/java/com/aetherteam/aether/entity/ai/goal/MoaFollowGoal.java
  src/main/java/com/aetherteam/aether/entity/passive/Moa.java
Due: allow-build, allow-deploy-and-discord-publish

saddled mob cannot death in void
  src/main/java/com/aetherteam/aether/event/hooks/DimensionHooks.java
Due: allow-build, allow-deploy-and-discord-publish

moa has random attribute like horse
  src/main/java/com/aetherteam/aether/entity/passive/Moa.java
Due: allow-build, allow-deploy-and-discord-publish

refactor: Dungeon Loot balance changes (#1177)
  src/generated/resources/.cache/59eb3dbb5f86130e09b3c62d89b9525ee01cf52d
  src/generated/resources/data/aether/loot_tables/chests/dungeon/bronze/bronze_dungeon.json
  src/generated/resources/data/aether/loot_tables/chests/dungeon/bronze/bronze_dungeon_disc.json
  src/generated/resources/data/aether/loot_tables/chests/dungeon/bronze/bronze_dungeon_gummies.json
  src/generated/resources/data/aether/loot_tables/chests/dungeon/bronze/bronze_dungeon_reward.json
  src/generated/resources/data/aether/loot_tables/chests/dungeon/bronze/bronze_dungeon_trash.json
  src/generated/resources/data/aether/loot_tables/chests/dungeon/bronze/bronze_dungeon_treasure.json
  src/generated/resources/data/aether/loot_tables/chests/dungeon/bronze/silver_dungeon_gravitite.json
  src/generated/resources/data/aether/loot_tables/chests/dungeon/bronze/silver_dungeon_gummies.json
  src/generated/resources/data/aether/loot_tables/chests/dungeon/bronze/silver_dungeon_neptune.json
  src/generated/resources/data/aether/loot_tables/chests/dungeon/bronze/silver_dungeon_treasure.json
  src/generated/resources/data/aether/loot_tables/chests/dungeon/bronze/silver_dungeon_valkyrie.json
  src/generated/resources/data/aether/loot_tables/chests/dungeon/silver/silver_dungeon_disc.json
  src/generated/resources/data/aether/loot_tables/chests/dungeon/silver/silver_dungeon_loot.json
  src/generated/resources/data/aether/loot_tables/chests/dungeon/silver/silver_dungeon_reward.json
  src/main/java/com/aetherteam/aether/data/generators/loot/AetherDungeonLoot.java
Due: allow-build, allow-deploy-and-discord-publish

feat: Moa follow behavior (#1187)
  src/main/java/com/aetherteam/aether/entity/ai/goal/MoaFollowGoal.java
  src/main/java/com/aetherteam/aether/entity/passive/Moa.java
Due: allow-build, allow-deploy-and-discord-publish

fix: Improved check for Aerbunny jump resets (#1185)
  src/main/java/com/aetherteam/aether/entity/passive/Aerbunny.java
Due: allow-build, allow-deploy-and-discord-publish

fix: Replace %s in Valkyrie death message (#1182)
  src/main/java/com/aetherteam/aether/entity/monster/dungeon/Valkyrie.java
Due: allow-build, allow-deploy-and-discord-publish

fix: Correct Valkyrie Lance lore entry (#1180)
  src/generated/resources/.cache/c622617f6fabf890a00b9275cd5f643584a8a2c8
  src/generated/resources/assets/aether/lang/en_us.json
  src/main/java/com/aetherteam/aether/data/generators/AetherLanguageData.java
Due: allow-build, allow-deploy-and-discord-publish

refactor: Tweak movement speed and upwards movement for armor abilities (#1176)
  src/main/java/com/aetherteam/aether/item/combat/abilities/armor/NeptuneArmor.java
  src/main/java/com/aetherteam/aether/item/combat/abilities/armor/PhoenixArmor.java
  src/main/java/com/aetherteam/aether/mixin/mixins/common/LivingEntityMixin.java
  src/main/resources/aether.mixins.json
Due: allow-build, allow-deploy-and-discord-publish

chore: Fix links according to org name change
  .githooks/commit-msg
  .github/workflows/add-issue.yml
  .github/workflows/add-pull-request.yml
  .github/workflows/trigger-build.yml
  build.gradle
  docs/CONTRIBUTING.md
  docs/README.md
Due: allow-build

chore: Edit some links
  docs/README.md
Due: none

chore: Edit link
  docs/README.md
Due: none

Path conditions:
  allow-build: any of: ^((?!docs|.github).)*$
  allow-deploy-and-discord-publish: any of: src/.*
