Repository The-Aether-Team/The-Aether: changes, and which CircleCI parameters are due for each by the changed paths.
All: allow-build, allow-deploy-and-discord-publish

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

jobs:
  publish:
    machine:
      image: ubuntu-2204:2022.07.1
    resource_class: large
    environment:
      _JAVA_OPTIONS: -Xmx3200m
      GRADLE_OPTS: -Dorg.gradle.daemon=false
    steps:
      - setup
      - run: |
          gradle publish
          gradle curseforge
          gradle modrinth

commands:
  setup:
    steps:
      - checkout
      - gradle/with_cache:
          cache_key: 'v8'
          steps:
            - run: gradle build --parallel --build-cache --console=plain
      - store_artifacts:
          path: ~/project/build/libs

workflows:
  start:
    jobs:
      - path-filtering/filter:
          name: filter
          mapping: |
            ^((?!docs|.github).)*$ allow-build true
            src/.* allow-deploy-and-discord-publish true
          base-revision: << pipeline.git.branch >>
          config-path: .circleci/continue_config.yml
  publish:
    jobs:
      - publish:
          context:
            - maven
            - publishing
          filters:
            tags:
              only:
                - /.*/
            branches:
              ignore:
                - /.*/

chore: Fix Patreon links
  .github/FUNDING.yml
  docs/README.md
Due: none

ci: Rename bot
  .github/workflows/trigger-build.yml
Due: none

chore: Remove allow-build condition
  .circleci/config.yml
  .circleci/continue_config.yml
Due: allow-build

refactor: Saddled mobs can fall out of the Aether (#1190)
  src/main/java/com/aetherteam/aether/event/hooks/DimensionHooks.java
Due: allow-build, allow-deploy-and-discord-publish

chore: Update CREDITS.txt
  docs/CREDITS.txt
Due: none

build(version): 0.6.2->0.7.0
  gradle.properties
Due: allow-build

ci: Adjust branch names in scripts
  .circleci/continue_config.yml
  .github/workflows/trigger-build.yml
  docs/README.md
Due: allow-build

chore: Fix link
  docs/README.md
Due: none

chore: Fix links
  .githooks/commit-msg
Due: allow-build

chore: Update CHANGELOG.md
  docs/CHANGELOG.md
Due: none

build(version): 0.7.0->1.0.0-beta.1
  gradle.properties
Due: allow-build

update: Forge 45.0.40->45.0.47
  build.gradle
  gradle.properties
Due: allow-build

chore: Update mods.toml
  src/main/resources/META-INF/mods.toml
Due: allow-build, allow-deploy-and-discord-publish

build: Disable debug mode
  build.gradle
Due: allow-build

ci: Update deploy scripts
  .circleci/continue_config.yml
Due: allow-build

build: Trigger deploy
  src/main/java/com/aetherteam/aether/Aether.java
Due: allow-build, allow-deploy-and-discord-publish

ci: Temporarily disable server auto-deploy
  .circleci/config.yml
Due: allow-build

chore: Fix mod platform badges
  docs/README.md
Due: none

[Draft] Initial port of PL Gravity mechanics
  src/generated/resources/data/aether/tags/blocks/fast_floaters.json
  src/generated/resources/data/aether/tags/blocks/hurtable_floaters.json
  src/generated/resources/data/aether/tags/blocks/non_floaters.json
  src/generated/resources/data/aether/tags/blocks/push_floaters.json
  src/main/java/com/aetherteam/aether/AetherTags.java
  src/main/java/com/aetherteam/aether/api/BlockLikeEntity.java
  src/main/java/com/aetherteam/aether/api/BlockLikeSet.java
  src/main/java/com/aetherteam/aether/api/FloatingBlockHelper.java
  src/main/java/com/aetherteam/aether/api/PostTickEntity.java
  src/main/java/com/aetherteam/aether/block/miscellaneous/FloatingBlock.java
  src/main/java/com/aetherteam/aether/client/renderer/entity/FloatingBlockRenderer.java
  src/main/java/com/aetherteam/aether/entity/block/FloatingBlockEntity.java
  src/main/java/com/aetherteam/aether/item/tools/abilities/GravititeTool.java
  src/main/java/com/aetherteam/aether/mixin/mixins/client/ClientPlayerMixin.java
  src/main/java/com/aetherteam/aether/mixin/mixins/client/ClientWorldMixin.java
  src/main/java/com/aetherteam/aether/mixin/mixins/common/ServerGamePacketListenerImplMixin.java
  src/main/java/com/aetherteam/aether/mixin/mixins/common/ServerWorldMixin.java
  src/main/java/com/aetherteam/aether/util/FloatingBlockHelperImpls.java
  src/main/resources/aether.mixins.json
Due: allow-build, allow-deploy-and-discord-publish

Update zh_cn translate.
  src/main/resources/assets/aether/lang/zh_cn.json
Due: allow-build, allow-deploy-and-discord-publish

Fixed zh_cn translates.
  src/main/resources/assets/aether/lang/zh_cn.json
Due: allow-build, allow-deploy-and-discord-publish

It's already out of date.=(
  src/main/resources/assets/aether/lang/zh_cn.json
Due: allow-build, allow-deploy-and-discord-publish

ci: Temporarily reenable auto-deploy
  .circleci/config.yml
Due: allow-build

ci: Fix filter
  .circleci/config.yml
Due: allow-build

ci: Disable auto-deploy temporarily
  .circleci/config.yml
Due: allow-build

chore: Update bug-report.yml
  .github/ISSUE_TEMPLATE/bug-report.yml
Due: none

Add files via upload
  src/main/resources/assets/aether/lang/zh_cn.json
Due: allow-build, allow-deploy-and-discord-publish

fixed switched music tracks
  src/main/resources/assets/aether/sounds/music/aether1.ogg
  src/main/resources/assets/aether/sounds/music/aether2.ogg
Due: allow-build, allow-deploy-and-discord-publish

fix: Holystone now only drops for the correct tool if the block has hardness
  src/main/java/com/aetherteam/aether/event/hooks/AbilityHooks.java
  src/main/java/com/aetherteam/aether/event/listeners/abilities/ToolAbilityListener.java
  src/main/java/com/aetherteam/aether/item/tools/abilities/HolystoneTool.java
Due: allow-build, allow-deploy-and-discord-publish

fix: Toggle Visibility tooltip no longer gets stuck
  src/main/java/com/aetherteam/aether/client/gui/screen/inventory/AccessoriesScreen.java
Due: allow-build, allow-deploy-and-discord-publish

feat: Cake recipe from Skyroot Milk Buckets
  src/generated/resources/.cache/9fb1092f32d4fcbf9e061ffd718d4ec689c6c95e
  src/generated/resources/data/aether/advancements/recipes/food/skyroot_milk_bucket_cake.json
  src/generated/resources/data/aether/recipes/skyroot_milk_bucket_cake.json
  src/main/java/com/aetherteam/aether/data/generators/AetherRecipeData.java
Due: allow-build, allow-deploy-and-discord-publish

fix: Discs are set to mono
  src/main/resources/assets/aether/sounds/item/records/aether_tune.ogg
  src/main/resources/assets/aether/sounds/item/records/ascending_dawn.ogg
Due: allow-build, allow-deploy-and-discord-publish

improv: Use Loot Modifiers for entity loot double drops
  src/generated/resources/.cache/8c612d57ec52f747b666a8d00c73628b9773ba1d
  src/generated/resources/data/aether/loot_modifiers/double_drops.json
  src/generated/resources/data/forge/loot_modifiers/global_loot_modifiers.json
  src/main/java/com/aetherteam/aether/data/generators/AetherLootModifierData.java
  src/main/java/com/aetherteam/aether/item/combat/SkyrootSwordItem.java
  src/main/java/com/aetherteam/aether/item/combat/abilities/weapon/SkyrootWeapon.java
  src/main/java/com/aetherteam/aether/loot/modifiers/AetherLootModifiers.java
  src/main/java/com/aetherteam/aether/loot/modifiers/DoubleDropsModifier.java
Due: allow-build, allow-deploy-and-discord-publish

improv: Make Pig Slayer loot modifier based
  src/generated/resources/.cache/8c612d57ec52f747b666a8d00c73628b9773ba1d
  src/generated/resources/data/aether/loot_modifiers/pig_drops.json
  src/generated/resources/data/forge/loot_modifiers/global_loot_modifiers.json
  src/main/java/com/aetherteam/aether/data/generators/AetherLootModifierData.java
  src/main/java/com/aetherteam/aether/item/combat/loot/PigSlayerItem.java
  src/main/java/com/aetherteam/aether/loot/modifiers/AetherLootModifiers.java
  src/main/java/com/aetherteam/aether/loot/modifiers/PigDropsModifier.java
Due: allow-build, allow-deploy-and-discord-publish

fix: Neptune Armor can boost downwards swimming speed
  src/main/java/com/aetherteam/aether/item/combat/abilities/armor/NeptuneArmor.java
Due: allow-build, allow-deploy-and-discord-publish

fix: Properly sync tool debuff config
  src/main/java/com/aetherteam/aether/AetherConfig.java
  src/main/java/com/aetherteam/aether/event/hooks/AbilityHooks.java
  src/main/java/com/aetherteam/aether/event/listeners/abilities/ToolAbilityListener.java
  src/main/java/com/aetherteam/aether/network/AetherPacketHandler.java
  src/main/java/com/aetherteam/aether/network/packet/client/ToolDebuffPacket.java
Due: allow-build, allow-deploy-and-discord-publish

fix: Fix banner pattern render issues
  src/main/java/com/aetherteam/aether/client/AetherAtlases.java
  src/main/java/com/aetherteam/aether/client/AetherClient.java
Due: allow-build, allow-deploy-and-discord-publish
