Repository The-Aether-Team/The-Aether: changes, and which CircleCI parameters are due for each by the changed paths.
All: allow-build=false, allow-deploy-and-discord-publish

Change comparator values
  src/main/java/com/gildedgames/aether/item/AetherItems.java
Due: allow-deploy-and-discord-publish

build(version): 0.5.1 -> 0.6.0
  gradle.properties
Due: none

ci: Move publishing workflow
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

ci: Move setup
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

ci: Add gradle orb
  .circleci/config.yml
Due: none

ci: Fix setup
  .circleci/continue_config.yml
Due: none

build(version): 0.6.0 -> 0.6.1
  gradle.properties
Due: none

refactor: Update Nitrogen dependency
  build.gradle
  gradle.properties
  src/main/java/com/gildedgames/aether/client/gui/screen/perks/AetherCustomizationsScreen.java
  src/main/java/com/gildedgames/aether/client/gui/screen/perks/MoaSkinsScreen.java
  src/main/java/com/gildedgames/aether/client/renderer/player/layer/DeveloperGlowLayer.java
  src/main/java/com/gildedgames/aether/client/renderer/player/layer/PlayerHaloLayer.java
  src/main/java/com/gildedgames/aether/perk/data/ClientDeveloperGlowPerkData.java
  src/main/java/com/gildedgames/aether/perk/data/ClientHaloPerkData.java
  src/main/java/com/gildedgames/aether/perk/data/ClientMoaSkinPerkData.java
  src/main/java/com/gildedgames/aether/perk/data/ClientPerkData.java
  src/main/java/com/gildedgames/aether/perk/data/ServerDeveloperGlowPerkData.java
  src/main/java/com/gildedgames/aether/perk/data/ServerHaloPerkData.java
  src/main/java/com/gildedgames/aether/perk/data/ServerMoaSkinPerkData.java
  src/main/java/com/gildedgames/aether/perk/data/ServerPerkData.java
  src/main/java/com/gildedgames/aether/perk/types/MoaSkins.java
  src/main/java/com/gildedgames/aether/util/PerkUtil.java
Due: allow-deploy-and-discord-publish

build: Append -forge to jar name
  build.gradle
Due: none

chore: Update README.md and CHANGELOG.md
  docs/CHANGELOG.md
  docs/README.md
Due: allow-build=false

Bring back JEI integration
  build.gradle
  gradle.properties
  src/main/java/com/gildedgames/aether/integration/jei/AetherJEIPlugin.java
  src/main/java/com/gildedgames/aether/integration/jei/categories/AbstractAetherCookingRecipeCategory.java
  src/main/java/com/gildedgames/aether/integration/jei/categories/AltarRepairRecipeCategory.java
  src/main/java/com/gildedgames/aether/integration/jei/categories/AmbrosiumRecipeCategory.java
  src/main/java/com/gildedgames/aether/integration/jei/categories/EnchantingCookingRecipeCategory.java
  src/main/java/com/gildedgames/aether/integration/jei/categories/FreezingRecipeCategory.java
  src/main/java/com/gildedgames/aether/integration/jei/categories/IncubationRecipeCategory.java
  src/main/java/com/gildedgames/aether/integration/jei/categories/SwetBallRecipeCategory.java
  src/main/java/com/gildedgames/aether/integration/jei/categories/fuel/AetherFuelCategory.java
Due: allow-deploy-and-discord-publish

Remove JEI runtime
  build.gradle
Due: none

feat: Bring back JEI compatibility (#1115)
  build.gradle
  gradle.properties
  src/main/java/com/gildedgames/aether/integration/jei/AetherJEIPlugin.java
  src/main/java/com/gildedgames/aether/integration/jei/categories/AbstractAetherCookingRecipeCategory.java
  src/main/java/com/gildedgames/aether/integration/jei/categories/AltarRepairRecipeCategory.java
  src/main/java/com/gildedgames/aether/integration/jei/categories/AmbrosiumRecipeCategory.java
  src/main/java/com/gildedgames/aether/integration/jei/categories/EnchantingCookingRecipeCategory.java
  src/main/java/com/gildedgames/aether/integration/jei/categories/FreezingRecipeCategory.java
  src/main/java/com/gildedgames/aether/integration/jei/categories/IncubationRecipeCategory.java
  src/main/java/com/gildedgames/aether/integration/jei/categories/SwetBallRecipeCategory.java
  src/main/java/com/gildedgames/aether/integration/jei/categories/fuel/AetherFuelCategory.java
Due: allow-deploy-and-discord-publish

build: Test removing reobf related lines
  build.gradle
Due: none

refactor: Adjust link buttons
  src/generated/resources/.cache/c622617f6fabf890a00b9275cd5f643584a8a2c8
  src/generated/resources/assets/aether/lang/en_us.json
  src/main/java/com/gildedgames/aether/client/gui/component/skins/PatreonButton.java
  src/main/java/com/gildedgames/aether/client/gui/screen/perks/MoaSkinsScreen.java
  src/main/java/com/gildedgames/aether/data/generators/AetherLanguageData.java
  src/main/resources/assets/aether/textures/gui/perks/skins/skins.png
Due: allow-deploy-and-discord-publish

fix: Life Shard Hearts sync between dimensions
  src/main/java/com/gildedgames/aether/capability/player/AetherPlayerCapability.java
Due: allow-deploy-and-discord-publish

improv(block): isFertile check for Aether Farmland
  src/main/java/com/gildedgames/aether/block/construction/AetherFarmBlock.java
Due: allow-deploy-and-discord-publish

fix(block): Correct slab hardness
  src/main/java/com/gildedgames/aether/block/AetherBlocks.java
Due: allow-deploy-and-discord-publish

fix(block): Correct slab hardness (#1120)
  src/main/java/com/gildedgames/aether/block/AetherBlocks.java
Due: allow-deploy-and-discord-publish

improv(block): isFertile check for Aether Farmland (#1119)
  src/main/java/com/gildedgames/aether/block/construction/AetherFarmBlock.java
Due: allow-deploy-and-discord-publish

fix: Life Shard Hearts sync between dimensions (#1118)
  src/main/java/com/gildedgames/aether/capability/player/AetherPlayerCapability.java
Due: allow-deploy-and-discord-publish

ci: Attempt to fix auth
  .circleci/continue_config.yml
  src/main/java/com/gildedgames/aether/Aether.java
Due: allow-deploy-and-discord-publish

fix: Enchanted Grass Blocks don't disappear with Skyroot Shovels
  src/generated/resources/.cache/232d7dc54f63e89526c247ba29265b5afad0215c
  src/generated/resources/.cache/59eb3dbb5f86130e09b3c62d89b9525ee01cf52d
  src/generated/resources/data/aether/loot_tables/blocks/enchanted_aether_grass_block.json
  src/generated/resources/data/aether/tags/items/slider_damaging_items.json
  src/generated/resources/data/minecraft/tags/items/axes.json
  src/generated/resources/data/minecraft/tags/items/hoes.json
  src/generated/resources/data/minecraft/tags/items/pickaxes.json
  src/generated/resources/data/minecraft/tags/items/shovels.json
  src/generated/resources/data/minecraft/tags/items/swords.json
  src/main/java/com/gildedgames/aether/data/generators/loot/AetherBlockLoot.java
Due: allow-deploy-and-discord-publish

refactor: Change various textures to be beta-accurate
  src/main/resources/packs/classic_base/assets/aether/textures/block/construction/aether_dirt_path_side.png
  src/main/resources/packs/classic_base/assets/aether/textures/block/construction/aether_farmland.png
  src/main/resources/packs/classic_base/assets/aether/textures/block/construction/aether_farmland_moist.png
  src/main/resources/packs/classic_base/assets/aether/textures/block/natural/aether_dirt.png
  src/main/resources/packs/classic_base/assets/aether/textures/block/natural/aether_grass_block_side.png
  src/main/resources/packs/classic_base/assets/aether/textures/block/natural/aether_grass_block_snow.png
  src/main/resources/packs/classic_base/assets/aether/textures/block/natural/aether_grass_block_top.png
  src/main/resources/packs/classic_base/assets/aether/textures/block/natural/enchanted_aether_grass_block_side.png
  src/main/resources/packs/classic_base/assets/aether/textures/block/natural/golden_oak_sapling.png
  src/main/resources/packs/classic_base/assets/aether/textures/block/natural/skyroot_sapling.png
  src/main/resources/packs/classic_base/assets/aether/textures/item/miscellaneous/moa_egg.png
  src/main/resources/packs/classic_base/assets/aether/textures/item/miscellaneous/moa_egg_spot.png
  src/main/resources/packs/classic_base/assets/aether/textures/models/accessory/gloves/gravitite_gloves_accessory.png
  src/main/resources/packs/classic_base/assets/aether/textures/models/accessory/gloves/gravitite_gloves_slim_accessory.png
  src/main/resources/packs/classic_base/assets/aether/textures/models/accessory/gloves/neptune_gloves_accessory.png
  src/main/resources/packs/classic_base/assets/aether/textures/models/accessory/gloves/neptune_gloves_slim_accessory.png
  src/main/resources/packs/classic_base/assets/aether/textures/models/accessory/gloves/obsidian_gloves_accessory.png
  src/main/resources/packs/classic_base/assets/aether/textures/models/accessory/gloves/obsidian_gloves_slim_accessory.png
  src/main/resources/packs/classic_base/assets/aether/textures/models/accessory/gloves/zanite_gloves_accessory.png
  src/main/resources/packs/classic_base/assets/aether/textures/models/accessory/gloves/zanite_gloves_slim_accessory.png
  src/main/resources/packs/classic_base/assets/aether/textures/models/accessory/pendant/zanite_pendant_accessory.png
  src/main/resources/packs/classic_base/assets/aether/textures/models/armor/gravitite_layer_1.png
  src/main/resources/packs/classic_base/assets/aether/textures/models/armor/gravitite_layer_2.png
  src/main/resources/packs/classic_base/assets/aether/textures/models/armor/neptune_layer_1.png
  src/main/resources/packs/classic_base/assets/aether/textures/models/armor/neptune_layer_2.png
  src/main/resources/packs/classic_base/assets/aether/textures/models/armor/obsidian_layer_1.png
  src/main/resources/packs/classic_base/assets/aether/textures/models/armor/obsidian_layer_2.png
  src/main/resources/packs/classic_base/assets/aether/textures/models/armor/zanite_layer_1.png
  src/main/resources/packs/classic_base/assets/aether/textures/models/armor/zanite_layer_2.png
Due: allow-deploy-and-discord-publish

refactor: Stackable Moa Eggs
  src/main/java/com/gildedgames/aether/item/AetherItems.java
Due: allow-deploy-and-discord-publish

refactor: Stackable Moa Eggs (#1139)
  src/main/java/com/gildedgames/aether/item/AetherItems.java
Due: allow-deploy-and-discord-publish

refactor: Change various textures to be beta-accurate (#1136)
  src/main/resources/packs/classic_base/assets/aether/textures/block/construction/aether_dirt_path_side.png
  src/main/resources/packs/classic_base/assets/aether/textures/block/construction/aether_farmland.png
  src/main/resources/packs/classic_base/assets/aether/textures/block/construction/aether_farmland_moist.png
  src/main/resources/packs/classic_base/assets/aether/textures/block/natural/aether_dirt.png
  src/main/resources/packs/classic_base/assets/aether/textures/block/natural/aether_grass_block_side.png
  src/main/resources/packs/classic_base/assets/aether/textures/block/natural/aether_grass_block_snow.png
  src/main/resources/packs/classic_base/assets/aether/textures/block/natural/aether_grass_block_top.png
  src/main/resources/packs/classic_base/assets/aether/textures/block/natural/enchanted_aether_grass_block_side.png
  src/main/resources/packs/classic_base/assets/aether/textures/block/natural/golden_oak_sapling.png
  src/main/resources/packs/classic_base/assets/aether/textures/block/natural/skyroot_sapling.png
  src/main/resources/packs/classic_base/assets/aether/textures/item/miscellaneous/moa_egg.png
  src/main/resources/packs/classic_base/assets/aether/textures/item/miscellaneous/moa_egg_spot.png
  src/main/resources/packs/classic_base/assets/aether/textures/models/accessory/gloves/gravitite_gloves_accessory.png
  src/main/resources/packs/classic_base/assets/aether/textures/models/accessory/gloves/gravitite_gloves_slim_accessory.png
  src/main/resources/packs/classic_base/assets/aether/textures/models/accessory/gloves/neptune_gloves_accessory.png
  src/main/resources/packs/classic_base/assets/aether/textures/models/accessory/gloves/neptune_gloves_slim_accessory.png
  src/main/resources/packs/classic_base/assets/aether/textures/models/accessory/gloves/obsidian_gloves_accessory.png
  src/main/resources/packs/classic_base/assets/aether/textures/models/accessory/gloves/obsidian_gloves_slim_accessory.png
  src/main/resources/packs/classic_base/assets/aether/textures/models/accessory/gloves/zanite_gloves_accessory.png
  src/main/resources/packs/classic_base/assets/aether/textures/models/accessory/gloves/zanite_gloves_slim_accessory.png
  src/main/resources/packs/classic_base/assets/aether/textures/models/accessory/pendant/zanite_pendant_accessory.png
  src/main/resources/packs/classic_base/assets/aether/textures/models/armor/gravitite_layer_1.png
  src/main/resources/packs/classic_base/assets/aether/textures/models/armor/gravitite_layer_2.png
  src/main/resources/packs/classic_base/assets/aether/textures/models/armor/neptune_layer_1.png
  src/main/resources/packs/classic_base/assets/aether/textures/models/armor/neptune_layer_2.png
  src/main/resources/packs/classic_base/assets/aether/textures/models/armor/obsidian_layer_1.png
  src/main/resources/packs/classic_base/assets/aether/textures/models/armor/obsidian_layer_2.png
  src/main/resources/packs/classic_base/assets/aether/textures/models/armor/zanite_layer_1.png
  src/main/resources/packs/classic_base/assets/aether/textures/models/armor/zanite_layer_2.png
Due: allow-deploy-and-discord-publish

fix: Enchanted Grass Blocks don't disappear with Skyroot Shovels (#1135)
  src/generated/resources/.cache/232d7dc54f63e89526c247ba29265b5afad0215c
  src/generated/resources/.cache/59eb3dbb5f86130e09b3c62d89b9525ee01cf52d
  src/generated/resources/data/aether/loot_tables/blocks/enchanted_aether_grass_block.json
  src/generated/resources/data/aether/tags/items/slider_damaging_items.json
  src/generated/resources/data/minecraft/tags/items/axes.json
  src/generated/resources/data/minecraft/tags/items/hoes.json
  src/generated/resources/data/minecraft/tags/items/pickaxes.json
  src/generated/resources/data/minecraft/tags/items/shovels.json
  src/generated/resources/data/minecraft/tags/items/swords.json
  src/main/java/com/gildedgames/aether/data/generators/loot/AetherBlockLoot.java
Due: allow-deploy-and-discord-publish

feat: Skyroot Chest Boat programmer art
  docs/CREDITS.txt
  src/main/resources/packs/classic_base/assets/aether/textures/entity/miscellaneous/chest_boat/skyroot.png
  src/main/resources/packs/classic_base/assets/aether/textures/item/miscellaneous/skyroot_chest_boat.png
Due: allow-build=false, allow-deploy-and-discord-publish

refactor: Change grass heightmap to MOTION_BLOCKING
  src/generated/resources/.cache/103d9f3f36b01595f1aa5172191e60eff02e6924
  src/generated/resources/data/aether/worldgen/placed_feature/grass_patch.json
  src/main/java/com/gildedgames/aether/data/resources/registries/AetherPlacedFeatures.java
Due: allow-deploy-and-discord-publish

fix: Proper cape rotation
  src/main/java/com/gildedgames/aether/client/renderer/accessory/CapeRenderer.java
Due: allow-deploy-and-discord-publish

feat: Sentry Stone Create World Screen
  src/main/java/com/gildedgames/aether/client/event/hooks/GuiHooks.java
  src/main/java/com/gildedgames/aether/mixin/mixins/client/accessor/CreateWorldScreenAccessor.java
  src/main/java/com/gildedgames/aether/mixin/mixins/client/accessor/TabButtonAccessor.java
  src/main/resources/aether.mixins.json
  src/main/resources/assets/aether/textures/gui/footer_separator.png
  src/main/resources/assets/aether/textures/gui/header_separator.png
  src/main/resources/assets/aether/textures/gui/light_dirt_background.png
  src/main/resources/assets/aether/textures/gui/light_sentry_stone_background.png
  src/main/resources/assets/aether/textures/gui/options_background.png
  src/main/resources/assets/aether/textures/gui/tab_button.png
Due: allow-deploy-and-discord-publish

fix: Guardians will properly target invisible players
  src/generated/resources/.cache/0fe122e549a2e3aeeca535edbc3649f31121d28e
  src/generated/resources/data/aether/tags/entity_types/ignore_invisibility.json
  src/main/java/com/gildedgames/aether/AetherTags.java
  src/main/java/com/gildedgames/aether/data/generators/tags/AetherEntityTagData.java
  src/main/java/com/gildedgames/aether/event/listeners/abilities/AccessoryAbilityListener.java
Due: allow-deploy-and-discord-publish

feat: Swet tag, Swet Ball tag, public moveParachute method
  src/generated/resources/.cache/0fe122e549a2e3aeeca535edbc3649f31121d28e
  src/generated/resources/.cache/232d7dc54f63e89526c247ba29265b5afad0215c
  src/generated/resources/.cache/9fb1092f32d4fcbf9e061ffd718d4ec689c6c95e
  src/generated/resources/data/aether/advancements/recipes/redstone/swet_slime_block.json
  src/generated/resources/data/aether/advancements/recipes/redstone/swet_sticky_piston.json
  src/generated/resources/data/aether/advancements/recipes/tools/swet_lead.json
  src/generated/resources/data/aether/recipes/swet_lead.json
  src/generated/resources/data/aether/recipes/swet_slime_block.json
  src/generated/resources/data/aether/recipes/swet_sticky_piston.json
  src/generated/resources/data/aether/tags/entity_types/swets.json
  src/generated/resources/data/aether/tags/items/swet_balls.json
  src/main/java/com/gildedgames/aether/AetherTags.java
  src/main/java/com/gildedgames/aether/data/generators/AetherRecipeData.java
  src/main/java/com/gildedgames/aether/data/generators/tags/AetherEntityTagData.java
  src/main/java/com/gildedgames/aether/data/generators/tags/AetherItemTagData.java
  src/main/java/com/gildedgames/aether/entity/miscellaneous/Parachute.java
Due: allow-deploy-and-discord-publish

feat: Skyroot Chest Boat programmer art (#1140)
  docs/CREDITS.txt
  src/main/resources/packs/classic_base/assets/aether/textures/entity/miscellaneous/chest_boat/skyroot.png
  src/main/resources/packs/classic_base/assets/aether/textures/item/miscellaneous/skyroot_chest_boat.png
Due: allow-build=false, allow-deploy-and-discord-publish

refactor: Change grass heightmap to MOTION_BLOCKING (#1141)
  src/generated/resources/.cache/103d9f3f36b01595f1aa5172191e60eff02e6924
  src/generated/resources/data/aether/worldgen/placed_feature/grass_patch.json
  src/main/java/com/gildedgames/aether/data/resources/registries/AetherPlacedFeatures.java
Due: allow-deploy-and-discord-publish

fix: Proper cape rotation (#1142)
  src/main/java/com/gildedgames/aether/client/renderer/accessory/CapeRenderer.java
Due: allow-deploy-and-discord-publish

feat: Sentry Stone Create World Screen (#1143)
  src/main/java/com/gildedgames/aether/client/event/hooks/GuiHooks.java
  src/main/java/com/gildedgames/aether/mixin/mixins/client/accessor/CreateWorldScreenAccessor.java
  src/main/java/com/gildedgames/aether/mixin/mixins/client/accessor/TabButtonAccessor.java
  src/main/resources/aether.mixins.json
  src/main/resources/assets/aether/textures/gui/footer_separator.png
  src/main/resources/assets/aether/textures/gui/header_separator.png
  src/main/resources/assets/aether/textures/gui/light_dirt_background.png
  src/main/resources/assets/aether/textures/gui/light_sentry_stone_background.png
  src/main/resources/assets/aether/textures/gui/options_background.png
  src/main/resources/assets/aether/textures/gui/tab_button.png
Due: allow-deploy-and-discord-publish

fix: Guardians will properly target invisible players (#1144)
  src/generated/resources/.cache/0fe122e549a2e3aeeca535edbc3649f31121d28e
  src/generated/resources/data/aether/tags/entity_types/ignore_invisibility.json
  src/main/java/com/gildedgames/aether/AetherTags.java
  src/main/java/com/gildedgames/aether/data/generators/tags/AetherEntityTagData.java
  src/main/java/com/gildedgames/aether/event/listeners/abilities/AccessoryAbilityListener.java
Due: allow-deploy-and-discord-publish

Path conditions:
  allow-build=false: any of: docs/.*
  allow-deploy-and-discord-publish: any of: src/.*
