Repository The-Aether-Team/The-Aether: changes, and which CircleCI parameters are due for each by the changed paths.
All: allow-build=false, allow-deploy-and-discord-publish

ci: Fix parameter
  .circleci/config.yml
Due: none

ci: Try a new parameter
  .circleci/config.yml
Due: none

ci: Change naming
  .circleci/config.yml
Due: none

ci: Change echo
  .circleci/continue_config.yml
Due: none

chore: Test docs/ update
  docs/README.md
Due: allow-build=false

ci: Set up conditional workflow behavior (#1089)
  .circleci/config.yml
  .circleci/continue_config.yml
  docs/CREDITS.txt
  docs/README.md
Due: allow-build=false

Revert "ci: Set up conditional workflow behavior (#1089)"
  .circleci/config.yml
  .circleci/continue_config.yml
  CREDITS.txt
  docs/README.md
Due: allow-build=false

ci: Adjust regex
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

ci: Adjust regex
  .circleci/config.yml
Due: none

chore: Test .github/ update
  .github/FUNDING.yml
Due: none

chore: Revert .github/ update
  .github/FUNDING.yml
Due: none

ci: Conditional workflow behavior (#1090)
  .circleci/config.yml
  .circleci/continue_config.yml
  docs/CREDITS.txt
  docs/README.md
Due: allow-build=false

chore: Test src/ update
  src/main/java/com/gildedgames/aether/Aether.java
Due: allow-deploy-and-discord-publish

fix: Better accessory shift click quick move functionality (#1088)
  src/main/java/com/gildedgames/aether/inventory/menu/AccessoriesMenu.java
Due: allow-deploy-and-discord-publish

compressed panorama files
  src/main/resources/assets/aether/textures/gui/title/panorama/panorama_0.png
  src/main/resources/assets/aether/textures/gui/title/panorama/panorama_1.png
  src/main/resources/assets/aether/textures/gui/title/panorama/panorama_2.png
  src/main/resources/assets/aether/textures/gui/title/panorama/panorama_3.png
  src/main/resources/assets/aether/textures/gui/title/panorama/panorama_4.png
  src/main/resources/assets/aether/textures/gui/title/panorama/panorama_5.png
Due: allow-deploy-and-discord-publish

Enhancement: Compressed panorama files (#1091)
  src/main/resources/assets/aether/textures/gui/title/panorama/panorama_0.png
  src/main/resources/assets/aether/textures/gui/title/panorama/panorama_1.png
  src/main/resources/assets/aether/textures/gui/title/panorama/panorama_2.png
  src/main/resources/assets/aether/textures/gui/title/panorama/panorama_3.png
  src/main/resources/assets/aether/textures/gui/title/panorama/panorama_4.png
  src/main/resources/assets/aether/textures/gui/title/panorama/panorama_5.png
Due: allow-deploy-and-discord-publish

build: Change changelog path string
  build.gradle
Due: none

ci: Make console log plain
  .circleci/continue_config.yml
Due: none

build: Potential refmap failure fix
  build.gradle
Due: none

build: Add refmap def
  build.gradle
Due: none

build: Another attempt at refmap fix
  build.gradle
Due: none

build: Remove comments and adjust publishing titles
  build.gradle
Due: none

chore: Fix Twitch link
  docs/README.md
Due: allow-build=false

build: Fix issues with non-IntelliJ IDEs
  build.gradle
Due: none

Fixed slab drops
  src/generated/resources/.cache/59eb3dbb5f86130e09b3c62d89b9525ee01cf52d
  src/generated/resources/data/aether/loot_tables/blocks/aerogel_slab.json
  src/generated/resources/data/aether/loot_tables/blocks/angelic_slab.json
  src/generated/resources/data/aether/loot_tables/blocks/carved_slab.json
  src/generated/resources/data/aether/loot_tables/blocks/hellfire_slab.json
  src/generated/resources/data/aether/loot_tables/blocks/holystone_brick_slab.json
  src/generated/resources/data/aether/loot_tables/blocks/holystone_slab.json
  src/generated/resources/data/aether/loot_tables/blocks/icestone_slab.json
  src/generated/resources/data/aether/loot_tables/blocks/mossy_holystone_slab.json
  src/generated/resources/data/aether/loot_tables/blocks/skyroot_slab.json
  src/main/java/com/gildedgames/aether/data/generators/loot/AetherBlockLoot.java
Due: allow-deploy-and-discord-publish

fix: Double slabs drop two slab items (#1105)
  src/generated/resources/.cache/59eb3dbb5f86130e09b3c62d89b9525ee01cf52d
  src/generated/resources/data/aether/loot_tables/blocks/aerogel_slab.json
  src/generated/resources/data/aether/loot_tables/blocks/angelic_slab.json
  src/generated/resources/data/aether/loot_tables/blocks/carved_slab.json
  src/generated/resources/data/aether/loot_tables/blocks/hellfire_slab.json
  src/generated/resources/data/aether/loot_tables/blocks/holystone_brick_slab.json
  src/generated/resources/data/aether/loot_tables/blocks/holystone_slab.json
  src/generated/resources/data/aether/loot_tables/blocks/icestone_slab.json
  src/generated/resources/data/aether/loot_tables/blocks/mossy_holystone_slab.json
  src/generated/resources/data/aether/loot_tables/blocks/skyroot_slab.json
  src/main/java/com/gildedgames/aether/data/generators/loot/AetherBlockLoot.java
Due: allow-deploy-and-discord-publish

fix: Correct face shading for Parachutes
  src/main/java/com/gildedgames/aether/client/renderer/entity/ParachuteRenderer.java
Due: allow-deploy-and-discord-publish

fix: Parachute rendering and shadows (#1081)
  src/main/java/com/gildedgames/aether/client/renderer/entity/ParachuteRenderer.java
Due: allow-deploy-and-discord-publish

ci: Test something
  .circleci/continue_config.yml
Due: none

ci: Revert test
  .circleci/continue_config.yml
Due: none

refactor!: Update Forge and resolve some breaking changes
  gradle.properties
  src/main/java/com/gildedgames/aether/client/particle/AetherParticleTypes.java
  src/main/java/com/gildedgames/aether/data/generators/tags/AetherItemTagData.java
  src/main/java/com/gildedgames/aether/item/miscellaneous/bucket/SkyrootBucketItem.java
Due: allow-deploy-and-discord-publish

refactor: Use new Forge reach attributes
  src/main/java/com/gildedgames/aether/event/hooks/AbilityHooks.java
  src/main/java/com/gildedgames/aether/item/tools/abilities/ValkyrieTool.java
  src/main/java/com/gildedgames/aether/mixin/mixins/common/ItemMixin.java
Due: allow-deploy-and-discord-publish

refactor!: Update Forge and resolve breaking changes (#1109)
  gradle.properties
  src/main/java/com/gildedgames/aether/client/particle/AetherParticleTypes.java
  src/main/java/com/gildedgames/aether/data/generators/tags/AetherItemTagData.java
  src/main/java/com/gildedgames/aether/event/hooks/AbilityHooks.java
  src/main/java/com/gildedgames/aether/item/miscellaneous/bucket/SkyrootBucketItem.java
  src/main/java/com/gildedgames/aether/item/tools/abilities/ValkyrieTool.java
  src/main/java/com/gildedgames/aether/mixin/mixins/common/ItemMixin.java
Due: allow-deploy-and-discord-publish

Fix compiler errors and run data generation
  src/generated/resources/.cache/232d7dc54f63e89526c247ba29265b5afad0215c
  src/generated/resources/.cache/735031f3addf80804addae5e3f53249900116f1e
  src/generated/resources/.cache/93ef46d8e2a70c25df1652217c68bb7a1c161142
  src/generated/resources/.cache/9fb1092f32d4fcbf9e061ffd718d4ec689c6c95e
  src/generated/resources/.cache/c622617f6fabf890a00b9275cd5f643584a8a2c8
  src/generated/resources/assets/aether/lang/en_us.json
  src/generated/resources/assets/aether/models/item/music_disc_legacy.json
  src/generated/resources/assets/aether/models/item/music_disc_welcoming_skies.json
  src/generated/resources/assets/aether/sounds.json
  src/generated/resources/data/aether/advancements/recipes/misc/legacy_enchanting.json
  src/generated/resources/data/aether/advancements/recipes/misc/welcoming_skies_freezing.json
  src/generated/resources/data/aether/recipes/legacy_enchanting.json
  src/generated/resources/data/aether/recipes/welcoming_skies_freezing.json
  src/generated/resources/data/aether/tags/items/slider_damaging_items.json
  src/generated/resources/data/minecraft/tags/items/axes.json
  src/generated/resources/data/minecraft/tags/items/hoes.json
  src/generated/resources/data/minecraft/tags/items/music_discs.json
  src/generated/resources/data/minecraft/tags/items/pickaxes.json
  src/generated/resources/data/minecraft/tags/items/shovels.json
  src/generated/resources/data/minecraft/tags/items/swords.json
  src/main/java/com/gildedgames/aether/client/AetherSoundEvents.java
  src/main/java/com/gildedgames/aether/data/generators/AetherItemModelData.java
  src/main/java/com/gildedgames/aether/data/generators/AetherLanguageData.java
  src/main/java/com/gildedgames/aether/data/generators/AetherRecipeData.java
  src/main/java/com/gildedgames/aether/data/generators/AetherSoundData.java
  src/main/java/com/gildedgames/aether/data/generators/tags/AetherItemTagData.java
Due: allow-deploy-and-discord-publish

update: mods.toml required forge
  src/main/resources/META-INF/mods.toml
Due: allow-deploy-and-discord-publish

Music discs work
  src/generated/resources/.cache/232d7dc54f63e89526c247ba29265b5afad0215c
  src/generated/resources/data/minecraft/tags/items/music_discs.json
  src/main/java/com/gildedgames/aether/data/generators/tags/AetherItemTagData.java
Due: allow-deploy-and-discord-publish

Path conditions:
  allow-build=false: any of: docs/.*
  allow-deploy-and-discord-publish: any of: src/.*
