Repository The-Aether-Team/The-Aether: changes, and which CircleCI parameters are due for each by the changed paths.
All: allow-build, allow-deploy-and-discord-publish

feat: Swet tag, Swet Ball tag, public moveParachute method (#1145)
  src/generated/resources/.cache/0fe122e549a2e3aeeca535edbc3649f31121d28e
  src/generated/resources/.cache/232d7dc54f63e89526c247ba29265b5afad0215c
  src/generated/resources/.cache/9fb1092f32d4fcbf9e061ffd718d4ec689c6c95e
  src/generated/resources/data/aether/advancements/recipes/redstone/swet_slime_block.json
  src/generated/resources/data/aether/advancements/recipes/redstone/swet_sticky_piston.json
  src/generated/resources/data/aether/advancements/recipes/tools/swet_lead.json
  src/generated/resources/data/aether/recipes/swet_lead.json
  src/generated/resources/data/aether/recipes/swet_slime_block.json
  src/generated/resources/data/aether/recipes/swet_sticky_piston.json
  src/generated/resources/data/aether/tags/entity_types/swets.json
  src/generated/resources/data/aether/tags/items/swet_balls.json
  src/main/java/com/gildedgames/aether/AetherTags.java
  src/main/java/com/gildedgames/aether/data/generators/AetherRecipeData.java
  src/main/java/com/gildedgames/aether/data/generators/tags/AetherEntityTagData.java
  src/main/java/com/gildedgames/aether/data/generators/tags/AetherItemTagData.java
  src/main/java/com/gildedgames/aether/entity/miscellaneous/Parachute.java
Due: allow-build, allow-deploy-and-discord-publish

build: Use Gradle plugin DSL
  build.gradle
  settings.gradle
Due: allow-build

build: Define mod ID and name in properties
  build.gradle
  gradle.properties
Due: allow-build

build(version): 0.6.1 -> 0.6.2
  gradle.properties
Due: allow-build

build: Generalize the buildscript and make it use plugin DSL (#1148)
  build.gradle
  gradle.properties
  settings.gradle
Due: allow-build

chore: Update CREDITS.txt
  docs/CREDITS.txt
Due: none

improv: Crystal Tree Trunk Placer
  src/generated/resources/.cache/103d9f3f36b01595f1aa5172191e60eff02e6924
  src/generated/resources/data/aether/worldgen/configured_feature/crystal_tree.json
  src/main/java/com/gildedgames/aether/data/resources/registries/AetherConfiguredFeatures.java
  src/main/java/com/gildedgames/aether/world/trunkplacer/AetherTrunkPlacerTypes.java
  src/main/java/com/gildedgames/aether/world/trunkplacer/CrystalTreeTrunkPlacer.java
Due: allow-build, allow-deploy-and-discord-publish

fix: Book of Lore won't cause food consumption
  src/main/java/com/gildedgames/aether/item/miscellaneous/LoreBookItem.java
Due: allow-build, allow-deploy-and-discord-publish

build: Isolate dependency management with GradleWorks
  build.gradle
  dependencies.yaml
  gradle.properties
  settings.gradle
Due: allow-build

refactor: Gold text for Sun Spirit fight start
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/boss/SunSpirit.java
Due: allow-build, allow-deploy-and-discord-publish

build: Fix curious just straight up not working (my bad)
  build.gradle
  dependencies.yaml
Due: allow-build

build: update versions of unused dependencies (they are still disabled)
  build.gradle
  dependencies.yaml
Due: allow-build

fix: Fire Minions will now target other attackers
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/FireMinion.java
Due: allow-build, allow-deploy-and-discord-publish

fix: Holystone components use correct sounds
  src/main/java/com/gildedgames/aether/block/AetherBlocks.java
Due: allow-build, allow-deploy-and-discord-publish

fix: Aether Portal plays correct sounds
  src/main/java/com/gildedgames/aether/block/portal/AetherPortalBlock.java
  src/main/java/com/gildedgames/aether/block/portal/AetherPortalForcer.java
Due: allow-build, allow-deploy-and-discord-publish

update: Curios 5.1.4.2->5.1.5.0
  gradle.properties
Due: allow-build

fix: Aether Portal plays correct sounds (#1162)
  src/main/java/com/gildedgames/aether/block/portal/AetherPortalBlock.java
  src/main/java/com/gildedgames/aether/block/portal/AetherPortalForcer.java
Due: allow-build, allow-deploy-and-discord-publish

fix: Holystone components use correct sounds (#1161)
  src/main/java/com/gildedgames/aether/block/AetherBlocks.java
Due: allow-build, allow-deploy-and-discord-publish

fix: Fire Minions will now target other attackers (#1160)
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/FireMinion.java
Due: allow-build, allow-deploy-and-discord-publish

refactor: Gold text for Sun Spirit fight start (#1155)
  src/main/java/com/gildedgames/aether/entity/monster/dungeon/boss/SunSpirit.java
Due: allow-build, allow-deploy-and-discord-publish

fix: Book of Lore won't cause food consumption (#1151)
  src/main/java/com/gildedgames/aether/item/miscellaneous/LoreBookItem.java
Due: allow-build, allow-deploy-and-discord-publish

improv: Crystal Tree Trunk Placer (#1150)
  src/generated/resources/.cache/103d9f3f36b01595f1aa5172191e60eff02e6924
  src/generated/resources/data/aether/worldgen/configured_feature/crystal_tree.json
  src/main/java/com/gildedgames/aether/data/resources/registries/AetherConfiguredFeatures.java
  src/main/java/com/gildedgames/aether/world/trunkplacer/AetherTrunkPlacerTypes.java
  src/main/java/com/gildedgames/aether/world/trunkplacer/CrystalTreeTrunkPlacer.java
Due: allow-build, allow-deploy-and-discord-publish

Enhancement: Slider behaviour experiments (#1092)
  src/main/java/com/aetherteam/aether/entity/monster/dungeon/boss/slider/Slider.java
Due: allow-build, allow-deploy-and-discord-publish

update: Curios 5.1.5.0->5.1.5.1
  gradle.properties
Due: allow-build

refactor: Nature Staff uses 1 durability
  src/main/java/com/aetherteam/aether/entity/passive/Moa.java
Due: allow-build, allow-deploy-and-discord-publish

refactor: Neptune Armor no longer attribute-based
  src/main/java/com/aetherteam/aether/event/listeners/abilities/ArmorAbilityListener.java
  src/main/java/com/aetherteam/aether/item/AetherItems.java
  src/main/java/com/aetherteam/aether/item/accessories/gloves/NeptuneGlovesItem.java
  src/main/java/com/aetherteam/aether/item/combat/abilities/armor/NeptuneArmor.java
  src/main/java/com/aetherteam/aether/item/combat/loot/NeptuneArmorItem.java
Due: allow-build, allow-deploy-and-discord-publish

refactor: Adjust speed values
  src/main/java/com/aetherteam/aether/item/combat/abilities/armor/NeptuneArmor.java
Due: allow-build, allow-deploy-and-discord-publish

chore: Move some links
  docs/README.md
Due: none

refactor: Rename GILDED_GAMES rank to THE_AETHER_TEAM
  gradle.properties
  src/main/java/com/aetherteam/aether/util/PerkUtil.java
Due: allow-build, allow-deploy-and-discord-publish

ci: Remove site publishing from CircleCI scripts
  .circleci/config.yml
Due: allow-build

chore: Create trigger-publish-modrinth.yml
  .github/workflows/trigger-publish-modrinth.yml
Due: none

chore: Rename publish-modrinth.yml
  .github/workflows/publish-modrinth.yml
Due: none

chore: Update publish-modrinth.yml
  .github/workflows/publish-modrinth.yml
Due: none

Path conditions:
  allow-build: any of: ^((?!docs|.github).)*$
  allow-deploy-and-discord-publish: any of: src/.*
